@import "tailwindcss";

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    src: url("assets/metropolis.black.otf") format("opentype");
}

@theme {
    --font-sans: "Metropolis", sans-serif;
    --rn-bleu-500: #31a2f0;
}

h1 {
    color: var(--rn-bleu-500);
    font-family: var(--font-sans);
    font-size: 7rem;
    line-height: 6rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}