@import "tailwindcss";

@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font_metropolis.black.otf") format("opentype");
}

@theme {
    --font-sans: "Metropolis", sans-serif;
    --rn-bleu-500: #31a2f0;
    --rn-bleu-logo: #064473;
    --rn-rouge-logo: #C00F26;
}

h1 {
    color: var(--rn-bleu-500);
    font-family: var(--font-sans);
    font-size: 7rem;
    line-height: 6rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.circle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}