@import "tailwindcss";

@font-face {
    font-family: "Metropolis Title";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font_metropolis.black.otf") format("opentype");
}

@font-face {
    font-family: "Metropolis Default";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font_metropolis.regular.otf") format("opentype");
}

@theme {
    --font-default: "Metropolis Default", sans-serif;
    --font-title: "Metropolis Title", sans-serif;
    --gray: #666666;
    --rn-bleu-500: #31a2f0;
    --rn-bleu-logo: #064473;
    --rn-rouge-logo: #C00F26;
}

h1 {
    color: var(--rn-bleu-500);
    font-family: var(--font-title);
    font-size: 7rem;
    line-height: 6rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: var(--rn-bleu-logo);
    font-family: var(--font-title);
    font-size: 3rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

h3 {
    color: var(--rn-bleu-logo);
    font-family: var(--font-title);
    font-size: 1.2rem;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

p,
ul {
    font-family: var(--font-default);
    font-size: 1.2rem;
}

.circle-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

canvas {
    left: 0;
    position: absolute;
    top: 0;
}