@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
    font-family: "Metropolis Title";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font_metropolis.black.otf") format("opentype");
}

@font-face {
    font-family: "Metropolis Default";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font_metropolis.regular.otf") format("opentype");
}

@theme {
    --font-default: "Metropolis Default", sans-serif;
    --font-title: "Metropolis Title", sans-serif;
    --dark-bg: #292929;
    --dark-text: #C4C4C4;
    --rn-gray: #666666;
    --rn-bleu-500: #31a2f0;
    --rn-bleu-logo: #064473;
    --rn-rouge-logo: #C00F26;
}

@layer components {
    :root {
        @apply text-(--rn-gray) dark:text-(--dark-text)
    }

    h1,
    h2,
    h3 {
        @apply uppercase
    }

    h2,
    h3 {
        @apply text-(--rn-bleu-logo) dark:text-(--dark-text)
    }


    h1 {
        @apply text-6xl sm:text-8xl text-left sm:text-center
    }

    h2 {
        @apply text-3xl sm:text-5xl mt-9 sm:mt-18 mb-3 sm:mb-6
    }

    h3,
    p,
    ul {
        @apply text-base sm:text-xl
    }

    p, ul {
        @apply text-justify
    }

    .grid {
        @apply mx-auto max-w-5xl sm:w-12/12 md:w-10/12 lg:w-8/12 p-4
    }

    .profile {
        @apply w-80 mt-6 sm:mt-9 mx-auto
    }

    .profile-picture {
        @apply mx-auto flex items-center justify-center relative
    }

    .profile-picture-canvas {
        @apply absolute left-0 top-0
    }

    .profile-picture-img {
        @apply rounded-full object-cover relative
    }

    .profile-text {
        @apply mt-2 sm:mt-3 text-center
    }

    .programme {
        @apply mt-6
    }

    .programme-element {
        @apply list-disc ml-4 sm:ml-20
    }
}

::selection {
    background: var(--rn-gray);
    color: #fff;
}

:root {
    font-family: var(--font-default);
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

h1 {
    color: var(--rn-bleu-500);
}

a:hover {
    text-decoration: underline;
}